{{#if stream_settings_link}}
<a class="stream" href="{{stream_settings_link}}">
    {{> navbar_icon_and_title }}
</a>
<a class="sub_count no-style tippy-zulip-tooltip" data-tippy-content="{{sub_count_tooltip_text}}" data-tippy-placement="bottom" href="{{stream_settings_link}}">
<span style="padding-right:5px">
<!--
	  <span class="prediction_box1" style="height:10px;width:5px;"></span><span class="prediction_box2" style="height:5px;width:5px;"></span><span class="prediction_box3" style="height:3px;width:5px;"></span><span class="prediction_box4" style="height:6px;width:5px;"></span><span class="prediction_box5" style="height:8px;width:5px;"></span>
-->
	  </span>
    <i class="fa fa-user-o"></i>{{formatted_sub_count}}
</a>
<span class="narrow_description navbar-click-opens-search rendered_markdown">
    {{#if rendered_narrow_description}}
    {{rendered_markdown rendered_narrow_description}}
    {{else}}
    {{t "(no description)"}}
    {{/if}}
</span>
{{else}}
<span class="navbar-click-opens-search">
    {{> navbar_icon_and_title }}
</span>
{{/if}}
<span class="search_icon search_closed" ><i class="fa fa-search" aria-hidden="true"></i></span>
